STREAM_PORT=8080
FRAME_MOVING_OBJECT=1

SCAN_INTERVAL_SECS=60
LOOP_PER_SCAN=400
NOISE_THRESHOLD=500
ALERT_FILE_PATH="example_dir/example.txt"
ALERT_INTERVAL_SECS=1800

IMAGE_WIDTH=1280
IMAGE_HEIGHT=720
IMAGE_DIR="example_dir/"
SAVE_SNAPSHOT=1

EMAIL_SERVER="smtp.example.com"
SENDER="sender@example.com"
RECIPIENT="recipient@example.com"
