STREAM_PORT=8080
FRAME_MOVING_OBJECT=1

LOOP_PER_SCAN=400
NOISE_THRESHOLD=500
ALERT_FILE_PATH="example_dir/example.txt"
ALERT_INTERVAL_SECS=1800
SAVE_SNAPSHOT=1
IMAGE_DIR="example_dir/"
SCAN_INTERVAL_SECS=60
